<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<title>短信助手</title>
</head>
<body>
	
	<div class="container">
	
		<table class="table table-striped table-hover">
			
			<thead>
				<th>批次号</th>
				<th>短信签名</th>
				<th>短信模板</th>
				<th>号码总数</th>
				<th>成功数</th>
				<th>失败数</th>
				<th>执行开始时间</th>
				<th>执行结束时间</th>
			</thead>
			
			<tbody>
			
				<tr>
					<td>1</td>
					<td>蓝盒</td>
					<td>模板1</td>
					<td>100</td>
					<td>90</td>
					<td>10</td>
					<td>2018-10-11 18:10:10</td>
					<td>2018-10-11 19:10:10</td>
				</tr>
				
				<tr>
					<td>1</td>
					<td>蓝盒</td>
					<td>模板1</td>
					<td>100</td>
					<td>90</td>
					<td>10</td>
					<td>2018-10-11 18:10:10</td>
					<td>2018-10-11 19:10:10</td>
				</tr>
				
				<tr>
					<td>1</td>
					<td>蓝盒</td>
					<td>模板1</td>
					<td>100</td>
					<td>90</td>
					<td>10</td>
					<td>2018-10-11 18:10:10</td>
					<td>2018-10-11 19:10:10</td>
				</tr>
				
				<tr>
					<td>1</td>
					<td>蓝盒</td>
					<td>模板1</td>
					<td>100</td>
					<td>90</td>
					<td>10</td>
					<td>2018-10-11 18:10:10</td>
					<td>2018-10-11 19:10:10</td>
				</tr>
				
			</tbody>
		</table>
		
		<nav aria-label="Page navigation">
		  <ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	
	</div>
	<!--  
	<form 
	  class="form-horizontal" 
	  id="form_table" 
	  action="/sms/page/batchImport" 
	  th:action="@{/sms/page/batchImport}" 
	  enctype="multipart/form-data" 
	  method="post">
		<input class="form-input" type="file" name="filename"></input>
		<br/>	
		<button type="submit" class="btn">开始导入</button>
	</form>
	
	-->
	
	<!-- jquery cdn -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>